body {
  background-color: #FCEDE34D;
  font-family: 'Poppins';
  background-image: url('../img/background.svg');
}

.login-container {
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  img {
    padding-inline: 20px;
    width: 854px;
    height: 766px;
  }

  h1 {
    margin-bottom: 50px;
    max-width: 350px;
  }

  h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2%;
    text-align: center;
    max-width: 350px;
    margin-bottom: 60px;
  }

  .input-parts {
    display: grid;
    gap: 8px;

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
      letter-spacing: 2%;
      color: #959895;
    }

    input {
      padding: 10px;
      width: 436px;
      height: 44px;
      border: 1px solid #EA6A12;
      border-radius: 24px;
      margin-bottom: 16px;
      max-width: 350px;
    }
  }

  .loginBtn {
    margin-bottom: 16px;
    margin-inline: 130px;
    width: 188px;
    height: 44px;
    border-radius: 24px;
    color: #fff;
    background-color: #EA6A12;
    border-color: transparent;
    &:hover {
      background-color: #f3af81;
    }
  }
}