body {
  background-color: #FCEDE34D;
  font-family: 'Poppins';
  background-image: url('../img/background.svg');
}

.login-container {
  max-width: 1280px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  height: 100vh;

  img {
    padding-inline: 20px;
  }

  h1 {
    margin-bottom: 50px;
  }

  h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 60px;
  }
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding-block: 8px;
    width: 250px;
    border-radius: 24px;
    color: #fff;
    background-color: #EA6A12;
    border-color: transparent;
    cursor: pointer;
    margin-top: 20px;
  
    &:hover {
      background-color: #f3af81;
    }
  }

}

.input-parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-block: 12px;

  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 2%;
    color: #959895;
  }

  input {
    padding: 10px;
    width: 400px;
    border: 1.5px solid #EA6A12;
    border-radius: 24px;
    padding: 15px;
  }

  .input-email, .input-password {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  input:focus {
    border-color: #07143B;
    outline: none;
  }
}

.login-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  h3 {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 2%;
    color: #07143B;
  }

  p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 2%;
    color: #959895;
  }
}

.login-text-area {
  width: 460px;
}

.circle-container {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rotating-circle {
  width: 200px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-item {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
}

.dashed-circle {
  width: 360px;
  height: 360px;
  border: 2px dashed #EA6A12;
  border-radius: 50%;
  position: absolute;
}