@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.dashboard {
  display: flex;
  height: 100vh;
}

h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2%;
  margin-inline: auto;
  padding-inline: 24px;
  padding-bottom: 24px;
}

h2:hover {
  color: #EA6A12;
}

.sideBar {
  width: 257px;
  background-color: white;
  height: 100%;

  h5 {
    padding: 16px 49px 8px;
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 2%;
    text-align: center;
    border-bottom: 1px solid #e3e1e1;
  }

  h6 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 2%;
    color: #959895;
    padding: 8px;
  }

  .sideBarOption {
    border-bottom: 1px solid #e3e1e1;
  }

  .optionText {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 15px;
    margin-inline: 12px;
    cursor: pointer;
  }

  .optionText:hover {
    background-color: rgba(234, 106, 18, 0.1);
    color: #EA6A12;
    border-radius: 34px;

    p {
      color: #EA6A12;
    }
  }

  svg {
    width: 24px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  /* min-width: 300px; */
  max-width: 600px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  input {
    width: 200px;
    margin-bottom: 20px;
    padding-inline: 10px;
    border-radius: 24px;
    border: 2px solid #EA6A12;
  }
  h6 {
    font-size: medium;
    text-align: center;
    margin-bottom: 10px;
  }
  .dialogBtns {
    display: flex;
    justify-content: center;
    gap: 30px;
    .addBtn {
      padding-inline: 14.5px;
      background-color: #EA6A12;
      color: #fff;
      border-radius: 24px;
      border: 2px solid #EA6A12;
      &:hover {
        background-color: #fff;
        color: #EA6A12;
      }
    }
    .cancelBtn {
      padding-inline: 10px;
      border-radius: 24px;
      border: 2px solid #EA6A12;
      color: #EA6A12;
      &:hover {
        background-color: #EA6A12;
        color: #fff;
      }
    }
  }
}
.add-product-page {
  form {
    input {
      width: 240px;
      border: 2px solid #EA6A12;
      border-radius: 24px;
      display: flex;
      margin-bottom: 20px;
      padding: 8px;
    }
  }

  .add-product-title {
    h5 {
      font-size: medium;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
.dropdown-btn {
  border-color: transparent;
  border-radius: 24px;
  background-color: #EA6A12;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
}
.select-img {
  width: 120x;
  border: 2px solid #EA6A12;
  color: #EA6A12;
  border-radius: 24px;
  padding: 5px;
  padding-inline: 14px
}
.add-product-btn {
  margin-left: 30px;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 24px;
  border-color: transparent;
  background-color: #ffa569;
  color: #fff;
  &:hover {
    background-color: #EA6A12;
  }
}

.productsContainer,
.stocksContainer,
.sales-reports-container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 70px;

  .addProductBtn {
    margin-block: 30px;
    width: 300px;
    border-radius: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #ea6a12;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    cursor: pointer;
  }

  .addProductBtn:hover {
    background: #EA6A12B2;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;

  .productBox {
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productBox:hover {
    background-color: rgba(234, 106, 18, 0.7);
    color: white;
    cursor: pointer;

    .addStockBtn {
      background-color: white;
      color: #ea6a12;
      cursor: pointer;
    }
  }

  img {
    width: 100px;
  }
}

.optionText p {
  color: #959895;
}

.optionText {
  color: #EA6A12;
}

.optionText.active {
  background-color: #ea6a12;
  border-radius: 34px;
  color: white;

  p {
    color: white;
  }

}

.stockQuantity {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-block: 20px;
}

.addStockBtn {
  background-color: #ea6a12;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: none;
}

.sales-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sales-container h3,
.most-sales-products h3 {
  font-family: Playfair Display;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
}

.pie-chart,
.most-sales-products {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.custom-pie-chart {
  background-color: #f9f9f9;
  border-radius: 10px;
}

.custom-pie {
  transition: transform 0.3s ease;
}

.custom-bar-chart {
  background-color: #f9f9f9;
  border-radius: 10px;
}

.recharts-responsive-container {
  width: 800px !important;
  margin: 0 auto;
}

.custom-x-axis text,
.custom-y-axis text {
  font-size: 10px;
  fill: #666;
}

.custom-bar:hover {
  opacity: 0.7;
}