/* buse başlangıç */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.add-product-page {
  background-color: #f0ece5;
  width: 100%;
  height: 100vh;    
  padding-top: 50px;
  font-family: 'Outfit';

  .add-product-title h5 {
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-inline: auto;
    gap: 20px;

  
    input, select {
      padding: 15px;
      border-radius: 7px;
      border: 1px solid black;
    }

    .custom-dropdown {
      position: relative;
      width: 100%;
    }
    
    .dropdown-btn {
      width: 100%;
      padding: 10px;
      background-color: white;
      color: rgb(95, 95, 95);
      padding: 15px;
      border-radius: 7px;
      border: 1px solid black;
      cursor: pointer;
      text-align: left;
    }
    
    .dropdown-content {
      position: absolute;
      width: 100%;
      background: white;
      border: 1px solid #ddd;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 10;
      max-height: 300px;
      overflow-y: auto;
      border-radius: 8px;
      margin-top: 5px;
    }
    
    .dropdown-option {
      padding: 10px;
      cursor: pointer;
    }
    
    .dropdown-option:hover {
      background-color: #f1f1f1;
    }
    

    .select-img {
      background-color: #c9171c;
      padding-block: 10px;
      max-width: 200px;
      text-align: -webkit-center;
      border-radius: 7px;
      color: white;
      cursor: pointer;
    }

    .add-product-btn {
      background-color: #ffca40;
      border: none;
      color: black;
      cursor: pointer;
      padding-block: 10px;
      max-width: 200px;
      border-radius: 7px;
    }
  }
} 
/* buse bitiş */